.navContainer{
    border: 3px solid black;
    display: flex;
    justify-content: space-around;
    .navLeft{
        border: 2px solid blue;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 2rem;
    }
    .navRight{
        border: 2px solid red;
    }
}